/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background-image: url('image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
body{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin-left: 500px;
}
::selection{
  color: #fff;
  background: #1500ff;
}
.wrapper{
  width: max-content;
  padding: 10px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.05);
}
.wrapper header{
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}
.wrapper form{
  margin: 40px 0 20px 0;
}
form :where(input, select){
  width: 272px;
  outline: none;
  border-radius: 5px;
  border: none;
}
form :where(button){
  width: 450px;
  outline: none;
  border-radius: 5px;
  border: none;
}
form p{
  font-size: 18px;
  margin-bottom: 5px;
}
form a{
  font-size: 18px;
  margin-bottom: 5px;
  margin-left: 60px;
}
form c{
  font-size: 18px;
  margin-bottom: 5px;
  margin-left: 70px;
}
form input{
  height: 50px;
  font-size: 17px;
  padding: 0 15px;
  border: 1px solid #000;
}
form input:focus{
  padding: 0 14px;
  border: 2px solid #00f656;
}
form .drop-list{
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.drop-list .select-box{
  display: flex;
  width: 175px;
  height: 45px;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  border: 1px solid #000;
}
.select-box img{
  max-width: 21px;
}
.select-box select{
  width: auto;
  font-size: 16px;
  background: none;
  margin: 0 -5px 0 5px;
}
.select-box select::-webkit-scrollbar{
  width: 8px;
}
.select-box select::-webkit-scrollbar-track{
  background: #ffffff;
}
.select-box select::-webkit-scrollbar-thumb{
  background: #000;
  border-radius: 7px;
  border-right: 2px solid #ffffff;
}
.drop-list .icon{
  cursor: pointer;
  margin-top: 30px;
  font-size: 22px;
}
form .exchange-rate{
  font-size: 17px;
  margin: 20px 0 30px;
}
.exchange-rate{
  border: 1px solid black;
  padding: 10px;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

form button{
  height: 52px;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  background: rgb(6, 209, 6);
  transition: 0.3s ease;
}
form button:hover{
  background: #00f656;
}
.container {
  margin-left: 350px;
  margin-top: -560px;
  width: 200px;
  height: 185px;
  border-radius: 12px;
  background: #fff;
  border-bottom-left-radius: 12px ;
}
.display {
  height: 50px;
  width: 100%;
  outline: none;
  border: none;
  text-align: right;
  font-size: 20px;
  color: #000e1a;
  pointer-events: none;
}
.buttons {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(4, 1fr);
}
.buttons button {
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #eee;
}
.buttons button:active {
  transform: scale(0.99);
}
.operator {
  color: rgb(6, 209, 6);
}
.operator:hover{
  color: #00f656;
}
